
<%= stylesheet_link_tag "material-cards" %>
<%= javascript_include_tag "jquery.material-cards", 'data-turbolinks-track' => true %>


<div class="ads">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- ShortenUrl -->
  <ins class="adsbygoogle"
    style="display:block"
    data-ad-client="ca-pub-9646834340680693"
    data-ad-slot="9722086250"
    data-ad-format="auto">
  </ins>

  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>



<%= form_tag shortlies_path, class: "", style: "text-align:center;", method: :post do  %>
  <div class="" style="display:inline-block;width:70%;">
    <%= text_field_tag :"shortly[original_url]", "", class: "form-control", placeholder: "test", style: "min-width:350px;" %>
  </div>
  <div class="" style="display:inline-block;width:70%;">
    <%= submit_tag "Shortly", class: "btn btn-success", style: "min-width: 150px;margin-top: 20px;" %>
  </div>
<% end %>

<% if @shortly.present? %>

  <div class="shorten-info" style="text-align:center;width: 100%; padding-top: 30px;">
    <div class="info-image">
      <%= image_tag "/upload_images/choi.jpg" %>
    </div>

    <div class="info-url">
      http://<%= request.host %><%= ":#{request.port}" if request.port != 80 %><%= @shortly.redirect_url%>
    </div>

    <div class="info-url">
      COPY
    </div>


  </div>

<% end %>

<!-- Polyfill Web Components support for older browsers -->
<%= javascript_include_tag "/components/webcomponentsjs/webcomponents-lite.min.js" %>
<!-- Import element -->
<link rel="import" href="/components/google-map/google-map.html">


<style>
  google-map {
    height: 600px;
    width: 300px;
    display:none;
  }
</style>


<google-map latitude="37.77493" longitude="-122.41942"></google-map>



<% arr = %w{Red Purple Deep-Purple Indigo Blue Light-Blue Cyan Teal Green Light-Green Lime Yellow Amber Orange Deep-Orange  Brown Grey Blue-Grey Pink} %>

<%= @recent_shortens.each do |recent_shorten| %>
  <%= link_to "http://#{request.host}/#{recent_shorten.redirect_url}" do %>
    <div class="col-md-4 col-sm-6 col-xs-12 recent_shorten">
      <article class="material-card <%= arr.sample %>">
        <h2>
          <span><%= "title" %> <span> <%= "title" %></span ></span>
          <strong>
            <i class="fa fa-fw fa-star"></i>
            <%= "TTTTTTT" %> 
          </strong>
        </h2>
        <div class="mc-content">
          <div class="img-container">
            <%= image_tag "http://img.yaplog.jp/img/17/pc/y/a/m/yamu98/26/26332.jpg", alt: "Test", class: "img-responsive"  %>
          </div>
          <div class="mc-description">
            <%= "memo" %>
          </div>
        </div>
        <a class="mc-btn-action">
          <i class="fa fa-bars"></i>
        </a>
        <div class="mc-footer">
          <h4>
            Social
          </h4>
          <a class="fa fa-fw fa-facebook"></a>
          <a class="fa fa-fw fa-twitter"></a>
          <!--<a class="fa fa-fw fa-linkedin"></a> -->
          <a class="fa fa-fw fa-google-plus"></a>
        </div>
      </article>
    </div>

  <% end %>
<% end %>

<script>
     $(function() {
         $('.material-card > .mc-btn-action').click(function () {
             var card = $(this).parent('.material-card');
             var icon = $(this).children('i');
             icon.addClass('fa-spin-fast');
             if (card.hasClass('mc-active')) {
                 card.removeClass('mc-active');
                 window.setTimeout(function() {
                     icon
                         .removeClass('fa-arrow-left')
                         .removeClass('fa-spin-fast')
                         .addClass('fa-bars');
                 }, 800);
             } else {
                 card.addClass('mc-active');
                 window.setTimeout(function() {
                     icon
                         .removeClass('fa-bars')
                         .removeClass('fa-spin-fast')
                         .addClass('fa-arrow-left');
                 }, 800);
             }
         });
     });
 </script>
