<!DOCTYPE html>
<html>
<head>
  <title>Shortly</title>

  <title>Infinity IMGs</title>

  <meta name="viewport" content="width=device-width, initial-scale=1,  user-scalable=no">
  <%= stylesheet_link_tag    "application", "application/#{controller_name}", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "application/#{controller_name}", "data-turbolinks-track" => true %>

  <%= html_import_tag 'application'%>

  <%= csrf_meta_tags %>
</head>
<body>

<div id="content" class="container">
  <%= yield %>
</div>

</body>
</html>
